<launch>
  <node name="main" pkg="core" type="main.py" respawn="false" output="screen"></node>
  <node name="image_saver" pkg="image_view" type="image_saver" respawn="false" output="screen">
    <remap from="image" to="/accupick3d/image"/>
    <!--<param name="filename_format" type="str" value="$(find core)/images/image%04d.%s" />-->
    <param name="filename_format" type="str" value="$(find core)/images/image.jpg" />
    <param name="save_all_image" type="bool" value="true" />
  </node>
</launch>
